<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Категории</title>
  <!-- Подключение Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Дополнительные стили */
    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }

    .gallery img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
      margin-top: 50px;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <a href="/client/home">Каталог товаров</a>
    <nav class="nav justify-content-center">
      <a class="nav-link" href="/client/catalog">Каталог</a>
      <a class="nav-link" href="/client/about">О компании</a>
      <a class="nav-link" href="/client/contacts">Контакты</a>
      <a class="nav-link" href="/client/cabinet">Личный кабинет</a>
      <a class="nav-link" href="/logout">Выйти</a>
    </nav>
  </div>
</header>

<div class="container">
  <h1 class="text-center mb-4">Список категорий</h1>
  <input type="text" id="searchInput" class="form-control mb-3" placeholder="Поиск по категориям...">
  <ul class="list-group" id="categoryList">
    <li th:each="category : ${categories}" class="list-group-item">
      <a th:href="@{/client/category/{id}(id=${category.id})}" th:text="${category.lightTypeName}"></a>
    </li>
  </ul>
</div>

<footer>
  <div class="container">
    <p>Контактная информация: +375447860021</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.getElementById('searchInput').addEventListener('input', function() {
    var filter = this.value.toLowerCase();
    var listItems = document.querySelectorAll('#categoryList li');

    listItems.forEach(function(item) {
      var text = item.textContent.toLowerCase();
      if (text.includes(filter)) {
        item.style.display = '';
      } else {
        item.style.display = 'none';
      }
    });
  });
</script>
</body>
</html>
